.profile__data {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .profile__data {
        display: flex;
        flex-direction: column;
    }
}