.popup__window-info {
    margin: 10px 0 0 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #FFFFFF;
}