.card__like {
    padding: 0;
    border: 0;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
}

.card__like:hover {
    opacity: 0.5;
    transform: scale(1.3);
}