.card__delete {
    width: 18px;
    height: 19px;
    background-color: transparent;
    border: 0;
    padding: 0;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.card__delete:hover {
    transform: scale(1.3);
    opacity: 0.6;
}